<a href="https://colab.research.google.com/github/Yaminicetty/PythonNew/blob/module-1/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
YAMINI = ["apple", "banana", "mango"]    #SECOND ITEM OF THE LIST
print(YAMINI[1])

banana

In [ ]:
YAMINI = ["apple", "kiwi", "cherry"]        #NEGATIVE INDEXING
print(YAMINI[-1])

cherry

In [ ]:
YAMINI = ["blueberries", "banana","papaya", "pears", "plums", "melon", "guvava"]   
print(YAMINI[3:6])

['pears', 'plums', 'melon']

In [ ]:
YAMINI = ["mango","banana","papaya", "pears", "plums", "melon", "guvava"] 
print(YAMINI[:5])

['mango', 'banana', 'papaya', 'pears', 'plums']

In [ ]:
YAMINI = ["mango","banana","papaya", "pears", "plums", "melon", "guvava"] 
print(YAMINI[4:])

['plums', 'melon', 'guvava']

In [ ]:
YAMINI = ["mango","banana","papaya", "pears", "plums", "melon", "guvava"] 
print(YAMINI[-4:-2])

['pears', 'plums']

In [ ]:
YAMINI = ["Plums", "banana", "cherry"]
if "Plums" in YAMINI:
  print("Yes, 'Plums' is in the fruits list")

Yes, 'Plums' is in the fruits list

In [ ]:
YAMINI = ["VANILLA", "CHOCOLATE", "STRAWBWERRY"]
YAMINI[1] = "KESAR PISTA"
print(YAMINI)

['VANILLA', 'KESAR PISTA', 'STRAWBWERRY']

In [ ]:
YAMINI = ["VANILLA", "CHOCOLATE", "STRAWBWERRY","BLACKFOREST","PINEAPPLE"]
YAMINI[2:4] = ["KESAR PISTA", "WATERMELON"]
print(YAMINI)

['VANILLA', 'CHOCOLATE', 'KESAR PISTA', 'WATERMELON', 'PINEAPPLE']

In [ ]:
YAMINI = ["CHOCOLATE", "MANGO", "VANILLA"]
YAMINI[1:3] = ["STRAWBERRY"]
print(YAMINI)

['CHOCOLATE', 'STRAWBERRY']

In [ ]:
YAMINI = ["CHOCOLATE", "MANGO", "VANILLA"]
YAMINI.insert(2, "STRAWBERRY")
print(YAMINI)

['CHOCOLATE', 'MANGO', 'STRAWBERRY', 'VANILLA']

In [ ]:
YAMINI = ["CHOCOLATE", "MANGO", "VANILLA"] #ADD AN ITEM
YAMINI.append("STRAWBERRY")
print(YAMINI)

['CHOCOLATE', 'MANGO', 'VANILLA', 'STRAWBERRY']

In [ ]:
YAMINI = ["CHOCOLATE", "MANGO", "VANILLA"]
YAMINI.insert(3,"STRAWBERRY")
print(YAMINI)

['CHOCOLATE', 'MANGO', 'VANILLA', 'STRAWBERRY']

In [ ]:
YAMINI= ["CHOCOLATE", "MANGO", "VANILLA"]
CETTY= ["PLUMS", "BANANA", "CHERRY"]
YAMINI.extend(CETTY)
print(YAMINI)

['CHOCOLATE', 'MANGO', 'VANILLA', 'PLUMS', 'BANANA', 'CHERRY']

In [ ]:
YAMINI = ["CHOCOLATE", "MANGO", "VANILLA"]
YAMINI.remove("MANGO")
print(YAMINI)

['CHOCOLATE', 'VANILLA']

In [ ]:
YAMINI = ["CHOCOLATE", "MANGO", "VANILLA"]
YAMINI.pop(1)
print(YAMINI)

['apple', 'cherry']

In [ ]:
YAMINI =["CHOCOLATE", "MANGO", "VANILLA"]
YAMINI.pop()
print(YAMINI)

['CHOCOLATE', 'MANGO']

In [ ]:
YAMINI = ["CHOCOLATE", "MANGO", "VANILLA"]
for i in range(len(YAMINI)):
  print(YAMINI[i])

CHOCOLATE
MANGO
VANILLA

In [ ]:
YAMINI = ["PLUMS", "BANANA", "CHERRY"]
for x in YAMINI:
  print(x)

PLUMS
BANANA
CHERRY

In [ ]:
YAMINI = ["apple", "banana", "cherry"]
i = 0
while i < len(YAMINI):
  print(YAMINI[i])
  i = i + 1

apple
banana
cherry

In [ ]:
YAMINI = ["VANILLA", "CHOCOLATE", "STRAWBWERRY","PINEAPPLE"]
YAMINI.sort()
print(YAMINI)

['CHOCOLATE', 'PINEAPPLE', 'STRAWBWERRY', 'VANILLA']

In [ ]:
YAMINI = [100, 150, 200, 250, 300]
YAMINI.sort()
print(YAMINI)

[100, 150, 200, 250, 300]

In [ ]:
YAMINI = ["VANILLA", "CHOCOLATE", "STRAWBWERRY","BLACKFOREST","PINEAPPLE"]
YAMINI.sort(reverse = True)
print(YAMINI)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
YAMINI = [100, 150, 200, 250, 300]
YAMINI.sort(reverse = True)
print(YAMINI)

[300, 250, 200, 150, 100]

In [ ]:
def myfunc(n):
  return abs(n - 50)

YAMINI  = [100,150, 200, 250, 300]
YAMINI .sort(key = myfunc)
print(YAMINI )

[100, 150, 200, 250, 300]

In [ ]:
YAMINI = ["apple", "banana", "cherry"]
YAMINI.sort(key = str.lower)
print(YAMINI)

['apple', 'banana', 'cherry']

In [ ]:
YAMINI = ["Plums", "banana", "cherry"]
YAMINI.reverse()
print(YAMINI)

['cherry', 'banana', 'Plums']

In [ ]:
YAMINI = ["Plums", "banana", "cherry"]
YAMINI =YAMINI.copy()
print(YAMINI)

['Plums', 'banana', 'cherry']

In [ ]:
YAMINI = ["Plums", "banana", "cherry"]
CETTY = list(YAMINI)
print(CETTY)

['Plums', 'banana', 'cherry']

In [ ]:
list1 = ["AA", "BB", "CC"]
list2 = [11, 22, 33]

list3 = list1 +  list2
print(list3)

['AA', 'BB', 'CC', 11, 22, 33]

In [ ]:
list1 = ["AA", "BB" , "CC"]
list2 = [11, 22, 33]

for x in list2:
  list1.append(x)

print(list1)

['AA', 'BB', 'CC', 11, 22, 33]

In [ ]:
list1 = ["AA", "BB" , "CC"]
list2 = [13, 23, 33]

list1.extend(list2)
print(list1)

['AA', 'BB', 'CC', 13, 23, 33]