<a href="https://colab.research.google.com/github/Yaminicetty/PythonNew/blob/Module-2/List_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list
fruit=("banana","mango","apple","Grapes","orange")
print(fruit)
print(fruit[2])
print(fruit[-2])
print(fruit[3:5])
print(fruit[:3])
print(fruit[2:])
print(fruit[:1])

('banana', 'mango', 'apple', 'Grapes', 'orange')
apple
Grapes
('Grapes', 'orange')
('banana', 'mango', 'apple')
('apple', 'Grapes', 'orange')
('banana',)

In [ ]:
#append
fruit= ["banana","mango","apple","Grapes","orange"]
print(fruit)
fruit.append("kiwi")                     #adding name using append
print(fruit)
fruit.insert(2,"jackfruit")          #inserting name

['banana', 'mango', 'apple', 'Grapes', 'orange']
['banana', 'mango', 'apple', 'Grapes', 'orange', 'kiwi']

In [ ]:
# Insert
fruit= ["banana","mango","apple","kiwi","orange"]   #insert image
print(fruit)
fruit.insert(3,"grapes")
print(fruit)

['banana', 'mango', 'apple', 'kiwi', 'orange']
['banana', 'mango', 'apple', 'grapes', 'kiwi', 'orange']

In [ ]:
# remove
fruit= ["banana","mango","apple","grapes","orange"]         #remove command
print(fruit)
fruit.remove('grapes')
print(fruit)

['banana', 'mango', 'apple', 'grapes', 'orange']
['banana', 'mango', 'apple', 'orange']

In [ ]:
#pop
fruit= ["banana","mango","apple","grapes","orange"]         #remove command
print(fruit)
fruit.pop(2)
print(fruit)

['banana', 'mango', 'apple', 'grapes', 'orange']
['banana', 'mango', 'grapes', 'orange']

In [ ]:
#clear
fruit= ["banana","mango","apple","grapes","orange"]    # clears all the data
print(fruit)
fruit.clear()
print(fruit)

['banana', 'mango', 'apple', 'grapes', 'orange']
[]

In [ ]:
#sort with strings
alphabets= ['b','c','d','e','f','g','h','i','j','k']
alphabets.sort()
print(alphabets)

['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
fruit = ["apple", "banana", "cherry"]
Fruits2 = fruit.copy()
print(Fruits2)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]       #Print all items in the list, one by one:
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]           #Print all items by referring to their index number:
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]           #print all items, using a while loop to go through all the index numbers
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]             #A short hand for loop that will print all items in a list:
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
sports = ["bat", "ball", "gloves", "socks", "jersey"]
list = [x for x in sports if x != "ball"]
print(list)
                                       #Only accept items that are not "ball"

['bat', 'gloves', 'socks', 'jersey']

In [ ]:
sports = ["bat", "ball", "gloves", "socks", "jersey"]
list = [x for x in sports]
print(list)
             #With no if statement:

['bat', 'ball', 'gloves', 'socks', 'jersey']

In [ ]:
list = [x for x in range(10)]
print(list)
       #You can use the range() function to create an iterable:

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
sports = ["bat", "ball", "gloves", "socks", "jersey"]
list = [x.upper() for x in sports]
print(list)

['BAT', 'BALL', 'GLOVES', 'SOCKS', 'JERSEY']

In [ ]:
sports = ["bat", "ball", "gloves", "socks", "jersey"]
list = ['hello' for x in sports]
print(list)

['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
sports = ["bat", "ball", "gloves", "socks", "jersey"]
list = [x if x != "ball" else "orange" for x in sports]
print(list)

['bat', 'orange', 'gloves', 'socks', 'jersey']

In [ ]:
list = ["orange", "mango", "kiwi", "pineapple", "banana"]
list.sort()
print(list)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
list = [100, 50, 65, 82, 23]
list.sort()
print(list)

[23, 50, 65, 82, 100]

In [ ]:
list = ["orange", "mango", "kiwi", "pineapple", "banana"]
list.sort(reverse = True)
print(list)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
list = [100, 50, 65, 82, 23]
list.sort(reverse = True)
print(list)

[100, 82, 65, 50, 23]

In [ ]:
def myfunc(n):
  return abs(n - 100)

list = [100, 50, 165, 82, 23]
list.sort(key = myfunc)
print(list)

[100, 82, 50, 165, 23]

In [ ]:
list = ["banana", "Orange", "Kiwi", "cherry"]
list.sort()
print(list)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
list = ["banana", "Orange", "Kiwi", "cherry"]
list.sort(key = str.lower)
print(list)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
list = ["banana", "Orange", "Kiwi", "cherry"]
list.reverse()
print(list)

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
list = ["apple", "banana", "cherry"]
mylist = list.copy()
print(list)

['apple', 'banana', 'cherry']

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]