<a href="https://colab.research.google.com/github/Yaminicetty/PythonNew/blob/Module-2/Module_2_python_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
k=2
result = [a for a in list if len(a) != k]
print("Resultant list : " + str(result))

In [ ]:
#2gcd
def gcd(a, b):
   if a == b:
      return a
   elif a < b:
      return gcd(b, a)
   else:
      return gcd(b, a - b)

a = 25
b = 45
print(gcd(a, b))

In [ ]:
# 3difference between the two lists
list1 = [30,35, 45, 67, 98]
list2=[10, 32, 24, 62, 17, 84]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[98, 35, 67, 45, 30, 32, 10, 17, 84, 24, 62]

In [1]:
#4
Yamini = [23, 42, 67, 89, 11, 32]
print("The list is" ):
print(Yamini)
print(“The resultant tuple is :”)
Yamini = [(val, pow(val, 2)) for val in my_list]
print(Yamini))

In [ ]:
#5Program to remove a key from a dictionary
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict: 
    del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 6to find max and min
Yamini = {'x':500, 'y':5874, 'z': 560}

key_max = max(Yamini.keys(), key=(lambda k: Yamini[k]))
key_min = min(Yamini.keys(), key=(lambda k: Yamini[k]))

print('Maximum Value: ',Yamini[key_max])
print('Minimum Value: ',Yamini[key_min])

Maximum Value:  5874
Minimum Value:  500

In [ ]:
#7Program to count the number of strings where the string length is 2 or more and
#the first and last character are same from a given list of strings 
def Words(words):
  thy = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      thy += 1
  return thy

print(Words(['pqp', 'azby', 'mom', '2002']))

3

In [ ]:
#8Program to Acronym generator for any user input (ex-input is Random memory access
#then output should be RMA).Example - Random number (RN)
phrase = input("Enter the phrase: ")
phrase_split = phrase.split()
acronym = ""
for i in phrase_split:
  acronym = acronym + i[0].upper()
  
print("The acronym for your phrase is ",acronym + ".")

Enter the phrase: Random Memory Access
The acronym for your phrase is  RMA.

In [ ]:
#9Program for replacing one substring by another 
string = input("Enter the full string: ")
substring = input("Enter the substring to be replaced:")
replacing_string = input("Enter the string to be replaced:")
print (string.replace(substring, replacing_string))

Enter the full string: rabbit
Enter the substring to be replaced:bb
Enter the string to be replaced:cc
raccit

In [ ]:
#10
def find_len(list1):
    length = len(list1)
    list1.sort()
    print("Largest element is:", list1[length-1])
    print("Smallest element is:", list1[0])
    print("Second Largest element is:", list1[length-2])
    print("Second Smallest element is:", list1[1])
list1=[12, 45, 2, 41, 31, 10, 8, 6, 4]
Largest = find_len(list1)

Largest element is: 45
Smallest element is: 2
Second Largest element is: 41
Second Smallest element is: 4

In [ ]:
#11
str=input("enter the string")
ele=int(input("enter the postion to access the string"))
if ele>=len(str):
  print("index value is less than{}".format(len(str)))
else:
  print(str[ele])
list1 =str.split()
print(list1)

enter the stringyamini
enter the postion to access the string3
i
['yamini']

In [ ]:
#12
string = input ("Enter String : ")

upp = low = 0

for letter in string :

   if ord(letter) in range (65,91):

       upp = upp + 1

   elif ord(letter) in range (97,123):

       low = low + 1

print("upper-case letter are : ",upp,"\nlower-case letter are : ",low)

Enter String : YAmIni
upper-case letter are :  3
lower-case letter are :  3

In [ ]:
#13
def product(num1,num2):
    if(num1<num2):
        return product(num2,num1)
    elif(num2!=0):
         return(num1+product(num1,num2-1))
    else:
         return 0
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
print("product is: ",product(num1,num2))

Enter first number: 23
Enter second number: 34
product is:  782

In [ ]:
#14
str=input("enter the string")
ele=int(input("enter the postion to access the string"))
if ele>=len(str):
  print("index value is less than{}".format(len(str)))
else:
  print(str[ele])
list1 =str.split()
print(list1)

enter the stringyamini
enter the postion to access the string2
m
['yamini']

In [ ]:
#15
lowerlimit = int(input("Enter some random lower limit ="))
upperlimit = int(input("Enter some random upper limit ="))

listOfTuples = [(k, k**2) for k in range(lowerlimit, upperlimit+1)]
print('The list of Tuples are : ', listOfTuples)

In [ ]:
#16
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [ ]:
#17
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [ ]:
#18
my_dict = {'x':500, 'y':5874, 'z': 560}

key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))

print('Maximum Value: ',my_dict[key_max])
print('Minimum Value: ',my_dict[key_min])

Maximum Value:  5874
Minimum Value:  500

In [ ]:
#19
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))
nterms = 10

if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
names= ['Arun','Swathi','Bharathi','Sai','Pallavi','Somu']
first_letters = ['S']
output_names = [name for name in names if (name[0] in first_letters)]
output_names

['Swathi', 'Sai', 'Somu']